.App{
  max-width: 760px;
  display: block;
  margin: 0 auto;
  position: relative;
  header{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFF5;

    margin-top: 16px;
    h2{
      font-size: 32px;
      letter-spacing:-3px;
    }

    
  }

  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    button{
      width:280px;
      height:280px;
      border-radius: 50%;

      margin-top: 54px;

      font-size: 32px;
      color: #707070;

      background-color:#FFFB92;
      border:0;
      outline: 0;

      cursor: pointer;
      transition: filter 0.2s;
      &:hover{
        filter:brightness(90%);
      }
    }

    .dices{
      width:100%;
      height:176px;

      margin-top: 40px;

      background-color: #FFFB92;
      border-radius: 16px;
      padding:8px 16px;

      overflow-x: auto;
      position: relative;
      &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        }
        &::-webkit-scrollbar-thumb{
        background: linear-gradient(13deg, #e9e450 14%,#e9e450 64%);
        border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover{
        background: #fffa5b;
        }
        &::-webkit-scrollbar-track{
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: inset 7px 10px 12px 0px #F0F0F0;
        }

      .container{
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap:16px;
      }
    }

    .total{
      background-color: #FFFB92;
      
      min-width: 120px;
      height:56px;
      border-radius: 16px;
      
      color: #707070;
      font-size: 32px;

      margin-top:24px;

      display: flex;
      justify-content:center;
      align-items:center;
    }
  }
}

